{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About Me</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">Acerca de mí</h1>
      <h2 class="text-center mb-4">¡Bienvenido a mi Universo!</h2>
      <p class="lead text-justify">¡Saludos desde Chile! Mi nombre es Gonzalo Lesperguer, soy un profesional apasionado por la gestión de proyectos, actualmente desempeñándome en una destacada empresa de servicios en este campo. Mi día a día está marcado por el desafío constante de llevar a cabo proyectos de diversa envergadura, donde la organización y la ejecución efectiva son clave para el éxito.</p>
      <p class="lead text-justify">En paralelo a mi trayectoria profesional, he decidido embarcarme en un emocionante viaje autodidacta hacia el mundo de la programación. Mi enfoque principal se centra en el aprendizaje profundo de Django y Bootstrap, dos tecnologías que considero fundamentales en el desarrollo web moderno. Cada línea de código escrita es un pequeño logro que me acerca un paso más a mis objetivos en este fascinante universo digital.</p>
      <p class="lead text-justify">Cuando las horas libres llegan, mi pasión se vuelca hacia el vasto océano virtual de World of Warships. Navegar entre estrategias y desafíos en este juego es una fuente inagotable de diversión y aprendizaje para mí. No hay mejor manera de poner a prueba mi ingenio y tomar decisiones rápidas que en medio de emocionantes batallas navales.</p>
      <p class="lead text-justify">Otra de mis grandes fascinaciones es la geoinformática, y en particular, el manejo de QGIS. Esta herramienta poderosa me permite explorar y analizar datos geoespaciales de manera eficiente y precisa. La cartografía se convierte así en un lenguaje que me permite comprender y representar el mundo que nos rodea de manera detallada y visualmente impactante.</p>
      <p class="lead text-justify">Te invito a explorar este espacio que he construido, donde convergen la gestión de proyectos, el código que da vida a ideas, las batallas navales llenas de estrategia y adrenalina, y la cartografía que nos conecta con nuestro entorno. ¡Bienvenido a mi universo, donde cada día es una oportunidad para aprender, crecer y descubrir nuevas fronteras!</p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

{% endblock content %}