{% extends "base.html" %}

{% block content %}
<div class="post-entry">
  <h2>{{ post.titulo }}</h2>
  <p>{{ post.cuerpo }}</p>
  <p>Posteado Por:{{ post.autor }}</p>
  <p>Creado:{{ post.creado }}</p>
  <p>Modificado:{{ post.modificado }}</p>
  <div style="text-align: center;">
  <a href="{% url 'post_edit' post.pk %}" style="font-weight: bold; text-decoration: underline;color:green;">Editar Post</a>
  <br>
  <a href="{% url 'post_delete' post.pk %}" style="font-weight: bold; text-decoration: underline; color: red;">Elimina Post</a>
  </div>

</div>
{% endblock content %}